@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}

input, textarea, select{
    @apply border-2  border-dodger-blue-secondary text-dodger-blue-primary rounded-md w-full py-2 px-3 bg-dodger-blue-back saturate-50 ;
    @apply mb-2;
}
input:focus, textarea:focus,select:focus {
    @apply border-dodger-blue-secondary;
}


h1{
    @apply mb-4 text-dodger-blue-back text-xl;
}

label{
    @apply  text-sm text-dodger-blue-primary;
}

.btn-primary{
    @apply  px-4 py-1 rounded-lg shadow-sm text-white bg-gradient-to-l from-dodger-blue-600 to-dodger-blue-400 saturate-100
     hover:bg-gradient-to-r  hover:text-neon-pink ;
}

table.basic{
    @apply w-full bg-dodger-blue-back rounded-sm shadow-md ;
}
table.basic thead tr td,
table.basic thead tr th
{
    @apply text-sm  text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
 
}
table.basic tr td{
    @apply px-4 py-1 hover:text-dodger-blue-primary  ; 
}
table.basic a{
    @apply  text-sm py-1 px-4 rounded-sm inline-flex mx-1 items-center gap-1 hover:bg-dodger-blue-back ;
}
.btn-default,.btn-red{
    @apply px-4 py-1 rounded-md shadow-sm;
}
.btn-red{
    @apply bg-dodger-blue-secondary text-white px-4 py-1 rounded-sm shadow-sm;
}
.btn-default{
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm
}